<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hacks List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {%  for hack_type in types %}
        <h2 class="mt-5">{{ hack_type }} Hacks</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Name</th>
                    <th>Contributors</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the users -->
                {% for hack in hacks[hack_type] %}
                <tr>
                    <td><a href="/hack/{{ hack['ID'] }}">{{ hack['Title'] }}</a></td>
                    <td>{{ hack['Contributors'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
 </body>
</html>
