<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fountain #{{ id }}</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Fountain at {{ '%.3f' % lat }}, {{ '%.3f' % lon }}</h2>
        <p>
          This fountain has {{ num_ratings }} ratings.
        </p>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Overall Rating</th>
                    <th>Water Pressure</th>
                    <th>Water Temperature</th>
                    <th>Water Taste</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{ overall if overall is not None else 'N/A' }}</td>
                  <td>{{ pressure if pressure is not None else 'N/A' }}</td>
                  <td>{{ temperature if temperature is not None else 'N/A' }}</td>
                  <td>{{ taste if taste is not None else 'N/A' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
 </body>
</html>
